header{
background-color: #5b7989;
border-radius: 10px 10px 0 0;
display: flex;
flex-direction: row;
}
.titulo,.menu {
margin: auto;
}
.titulo h1
{
  color: white;
  text-shadow: 2px 2px #02010a;
}
.menu a
{
  color: white;
  text-shadow: 2px 2px #02010a;
}
.seleccion
{
  text-decoration: none;
}
.imagen1
{
text-align: center;
background-color: #82c3a6;
}
.imagen1 img
{
  width: 60%;
}
.imagen2
{
  display: flex;
  flex-direction: row;
  text-align: center;
  border: 1px;
  background-color: #d5c75f;
}
#opc, #opc2
{
  margin: auto;
}
#opc1 img,a
{
  width: 70%;
}
#opc1 img:hover
{
transform: rotate(10deg);
border: 2px;
box-shadow:5px 5px 5px #82c3a6;
}
#opc2 img,a
{
  width: 70%;
}
#opc2 img:hover
{
  transform: translate3d(20px,-5px,0);
}
